.animation-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
    background: var(--bg-dark);
}

.soft-ball {
    position: absolute;
    border-radius: 50%;
    filter: blur(100px);
    opacity: 0.5;
}